
@{
   Web_Project2.Models.SessionProfile profile = (Web_Project2.Models.SessionProfile) HttpContext.Current.Session["UserProfile"];
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="a website to help with invitations">
    <meta name="author" content="Jersey Galapon">
    <meta name="keywords" content="RSVP, invite, cool, internet, electronic" />
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>eRespond­®</title>

    <!-- Bootstrap core CSS -->

    @Styles.Render("~/Content/bootstrap")
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/toast")


    
  </head>

  <body>
<nav>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logofont" href="#">eRespond­®</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                @if (Parse.ParseUser.CurrentUser != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Details/@profile.parseID">@profile.fullName</a></li>
                        <li><a href="/App/Logoff">Logout</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/App/Login">Login</a></li>
                        <li><a href="/Account/Create">Signup</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
</nav>
    @RenderBody()


      <footer class="foo">
      <ul class="foot">
            <li class="line">@Html.ActionLink("Home", "index", "Home")</li>
            <li class="line">@Html.ActionLink("About", "About", "Home")</li>
            <li class="line">@Html.ActionLink("Contact", "Contact", "Home")</li>
      </ul>

	

        <p>&copy; Company 2013</p>
      </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/toast")

  </body>
</html>