@model Web_Project2.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="loginContainer">

    @using (Html.BeginForm("Login", "App", FormMethod.Post, new { @class = "login", name = "login" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <h2 class="form-signin-heading">Account</h2>


        @Html.LabelFor(model => model.EmailAddress)
        <br/>
        @Html.ValidationMessageFor(model => model.EmailAddress)
        @Html.EditorFor(model => model.EmailAddress, null, "")


        @Html.LabelFor(model => model.Password)
        <br/>
        @Html.ValidationMessageFor(model => model.Password)
        @Html.EditorFor(model => model.Password, null, "")


        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>


    }

</div> <!-- /container -->
@ViewBag.Exists