@model Web_Project2.Models.User

@{
    ViewBag.Title = "Reset_Password";
}

<h2>Reset_Password</h2>

<div class="loginContainer">

    @using (Html.BeginForm("Reset_password", "App", FormMethod.Post, new { @class = "login", name = "login" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <h2 class="form-signin-heading">Account</h2>


        @Html.LabelFor(model => model._Password)
        <br />
        @Html.ValidationMessageFor(model => model._Password)
        @Html.EditorFor(model => model._Password, null, "")


        @Html.LabelFor(model => model._RetypePassword)
        <br />
        @Html.ValidationMessageFor(model => model._RetypePassword)
        @Html.EditorFor(model => model._RetypePassword, null, "")

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>


    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
