@model Web_Project2.Models.User

@{
    ViewBag.Title = "Create";
}


@ViewData["flag"]


<div class="loginContainer">
    @using (Html.BeginForm("Create", "Account", FormMethod.Post, new {@class = "form-signin", role = "form"}))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        <h2 class="form-signin-heading">Please sign in</h2>
                    @ViewBag.Exists
         @Html.ValidationMessageFor(model => model.EmailAddress)
                    @Html.EditorFor(model => model.EmailAddress, null, "")        
                   
         @Html.ValidationMessageFor(model => model.Password)
                    @Html.EditorFor(model => model.Password, null, "")
         @Html.ValidationMessageFor(model => model.RetypePassword)
                    @Html.EditorFor(model => model.RetypePassword, null, "")
                    
                    @Html.EditorFor(model => model.FirstName, null, "")
                    @Html.EditorFor(model => model.LastName, null, "")


            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>        
    }

</div>